<!-- component -->
<div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 w-full">
        <div class="py-2 align-middle inline-block w-full min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <div class="px-6 py-4 flex items-center">
                    <input type="text" (keyup)="updateFilter($event)"
                        class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm w-full flex-1 mr-4">

                    <a
                        [href]="['employees/add']"
                        class="inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-red-500 active:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition ease-in-out duration-150'">
                        Agregar Empleado
                    </a>
                </div>
                <ngx-datatable #table
                    class="material"
                    [columnMode]="ColumnMode.force"
                    [headerHeight]="60"
                    [footerHeight]="60"
                    rowHeight="auto"
                    [limit]="10"
                    [sortType]="SortType.multi"
                    [rows]="employees">

                    <ngx-datatable-column name="Nombre" prop="name"
                        [sortable]="true" [minWidth]="100">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Apellido" prop="lastname"
                        [sortable]="true" [minWidth]="100">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Tipo Documento" prop="type_document"
                        [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="# Documento" prop="document_number"
                        [sortable]="true">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="País Empleo" prop="country_employment"
                        [sortable]="true">
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Email" prop="email"
                        [sortable]="true" [minWidth]="250">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Estado" prop="status"
                        [sortable]="true" [minWidth]="100">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            {{ value == 1 ? "Activo" : "Inactivo" }}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Acciones" prop="id"
                        [sortable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <button class="btn btn-primary me-2" (click)="onClickEdit(row)">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="h-6 w-6"
                                    x-tooltip="tooltip">
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                </svg>
                            </button>
                            <button class="btn btn-danger me-2 " (click)="onClickDelete(row)">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="h-6 w-6"
                                    x-tooltip="tooltip">
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>